.sauce-list {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sauce-list-item {
  text-align: center;
  width: 220px;
  border-radius: 10px;
  padding: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  img {
    max-width: 200px;
    max-height: 250px;
  }
  h4 {
    margin: 0;
    font-weight: bold;
    font-family: 'Quando', serif;
    font-size: 1.2em;
  }
  p {
    margin: 0;
    padding-top: 3px;
    .heat-icon {
      height: 18px;
      vertical-align: text-top;
      margin-right: 8px;
    }
  }
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 20px rgba(120, 120, 120, 0.3);
  }
}

.list-title {
  text-align: center;
  margin: 2em auto;
}

.no-sauces {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 45px;
}