<nav>
  <div class="nav-content">
    <div class="left-nav">
      <ul>
        <li>
          <a routerLink="sauces" routerLinkActive="active" *ngIf="isAuth$ | async">
            All Sauces
          </a>
        </li>
        <li>
          <a routerLink="new-sauce" routerLinkActive="active" *ngIf="isAuth$ | async">
            Add Sauce
          </a>
        </li>
      </ul>
    </div>
    <div class="logo">
      <div class="logo-text">
        <h1>
          <img alt="Logo" src="../../assets/images/logo.png">
        </h1>
      </div>
    </div>
    <div class="right-nav">
      <ul>
        <li>
          <a routerLink="signup" routerLinkActive="active" *ngIf="!(isAuth$ | async)">
            Sign Up
          </a>
        </li>
        <li>
          <a routerLink="login" routerLinkActive="active" *ngIf="!(isAuth$ | async)">
            Login
          </a>
        </li>
        <li>
          <a (click)="onLogout()" *ngIf="isAuth$ | async">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
